:root {
    --clr-primary-100: hsl(0, 78%, 62%);
    --clr-primary-200: hsl(34, 97%, 64%);
    --clr-primary-300: hsl(212, 86%, 64%);
    --clr-primary-400: hsl(180, 62%, 55%);

    --clr-neutral-100: hsl(234, 12%, 34%);
    --clr-neutral-200: hsl(229, 6%, 66%);
    --clr-neutral-300: hsl(0, 0%, 98%);
    
    --ff-primary: 'Poppins', sans-serif;

    --fs-400: 0.9375,
    --fs-500: 0.9375,
    --fs-600: 0.9375,
    --fs-700: 0.9375,
}



