@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


:root {
    --clr-primary-100: hsl(0, 78%, 62%);
    --clr-primary-200: hsl(34, 97%, 64%);
    --clr-primary-300: hsl(212, 86%, 64%);
    --clr-primary-400: hsl(180, 62%, 55%);

    --clr-neutral-100: hsl(234, 12%, 34%);
    --clr-neutral-200: hsl(229, 6%, 66%);
    --clr-neutral-300: hsl(0, 0%, 98%);
    
    --ff-primary: 'Poppins', sans-serif;

    --fs-300: clamp(0.88rem, calc(0.76rem + 0.51vw), 1.00rem);
    --fs-400: clamp(0.94rem, calc(0.82rem + 0.51vw), 1.06rem);
    --fs-500: clamp(1.31rem, calc(1.13rem + 0.76vw), 1.50rem);
    --fs-600: clamp(1.50rem, calc(0.49rem + 4.33vw), 2.56rem);
    --fs-700: clamp(1.50rem, calc(0.49rem + 4.33vw), 2.56rem);

    --fw-light: 200;
    --fw-regular: 400;
    --fw-bold: 600;
}



