button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;

  height: 3rem;
  width: 100%;

  background-color: var(--clr-primary-cyan);
  border: none;
  border-radius: 0.5rem;
  color: var(--clr-neutral-white);
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  letter-spacing: 0.02em;

  &:hover {
    cursor: pointer;
    background-color: darken(hsl(158, 36%, 37%), 15%);
  }
}

div[class="price"] {
  display: flex;
  align-items: center;
  gap: 1.125rem;

  padding-block: 1.5rem;

  @media (max-width: 48em) {
    padding-block: 1.3125rem 1rem;
  }
}
