@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

h1 {
	max-width: 18ch;
	margin-block: 1.5rem 1rem;

	color: var(--clr-primary-dark-blue);
	font-size: var(--fs-header);
}

p {
	max-width: 25ch;
	margin-bottom: 1.5rem;

	color: var(--clr-primary-greyish-blue);
	font-size: var(--fs-body);
}
