button {
	display: block;
	height: 2.8125rem;
	width: 100%;
	background-color: var(--clr-orange);
	border: none;
	border-radius: 1.5rem;
	color: var(--clr-white);
	font-size: var(--fs-500);
	font-weight: var(--fw-bold);
	letter-spacing: 0.065em;
	text-transform: uppercase;

	&:hover {
		background-color: var(--clr-white);
		color: var(--clr-orange);
		cursor: pointer;
	}
}

div[class='message'] {
	display: grid;
	place-items: center;
	height: 2rem;
	width: 12rem;
	background-color: var(--clr-dark-grey);
	border-radius: 1.5rem;
}

div[class='ratings'] {
	display: flex;
	justify-content: space-between;
	margin-block: 1.6875rem 2rem;

	@media (max-width: 26em) {
		margin-block: 1.875rem 1.375rem;
	}
}

div[class='star-icon'] {
	display: grid;
	place-items: center;
	height: 3.1875rem;
	width: 3.1875rem;
	margin-bottom: 1.875rem;
	background-color: var(--clr-dark-grey);
	border-radius: 50%;

	@media (max-width: 26em) {
		height: 2.5625rem;
		width: 2.5625rem;
	}
}

input[type='radio'] {
	appearance: none;
	height: 3.1875rem;
	width: 3.1875rem;
	background-color: var(--clr-dark-grey);
	border-radius: 50%;
	color: var(--clr-medium-grey);
	font-weight: var(--fw-bold);

	&::before {
		content: attr(value);
		display: grid;
		place-items: center;
		height: 100%;
		width: 100%;
		font-size: var(--fs-500);
	}

	&:checked {
		background-color: var(--clr-orange);
		color: var(--clr-white);
	}

	&:hover {
		background-color: var(--clr-medium-grey);
		color: var(--clr-white);
		cursor: pointer;
	}

	@media (max-width: 26em) {
		height: 2.5625rem;
		width: 2.5625rem;
	}
}
