:root {
    --clr-primary-100: hsl(185, 75%, 39%);
    --clr-primary-200: hsl(227, 10%, 46%);
    --clr-primary-300: hsl(229, 23%, 23%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(0, 0%, 59%);

    --ff-primary: "Kumbh Sans", sans-serif;

    --fs-200: 0.75rem;
    --fs-300: 1rem;
    --fs-400: 1.125rem;

    --fw-regular: 400;
    --fw-bold: 700;
}
