.box {
    padding: min(10vw, 2.5rem) min(7vw, 2.5rem);

    @media only screen and (min-width: 48em) {
        &:nth-of-type(1) {
            grid-column: span 2;
        }
    }
}

.button {
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 5px 20px 0 rgba(black, 0.2);
    cursor: pointer;
    margin-top: 1.5rem;
    padding-block: 1rem;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr;

    border-radius: 0.5rem;
    box-shadow: 0 0 15px 0 rgba(black, 0.2);
    margin: 4rem 1.5rem;
    overflow: hidden;
    width: min(100%, 41.3em);

    @media only screen and (min-width: 48em) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.price {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
