@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
    --clr-primary-100: hsl(179, 62%, 43%);
    --clr-primary-200: hsl(179, 62%, 46%);
    --clr-primary-300: hsl(71, 73%, 54%);
    --clr-neutral-100: hsl(218, 22%, 67%);
    --clr-neutral-200: hsl(204, 43%, 93%);
    --clr-neutral-300: hsl(204, 43%, 100%);

    --ff-primary: "Karla", sans-serif;

    --fs-300: 0.875rem;
    --fs-400: 0.875rem;
    --fs-500: 0.9375rem;
    --fs-600: 1rem;
    --fs-700: 1.25rem;
    --fs-800: 2rem;

    @media only screen and (min-width: 48em) {
        --fs-400: 1rem;
    }
}
