:root {
	--clr-primary-100: hsl(210, 46%, 95%);
	--clr-primary-200: hsl(212, 23%, 69%);
	--clr-primary-300: hsl(214, 17%, 51%);
	--clr-primary-400: hsl(217, 19%, 35%);

	--ff-primary: 'Manrope', sans-serif;

	--fs-400: 0.8125rem;

	--fw-medium: 500;
	--fw-bold: 700;
}
