:root {
	--clr-primary-orange: hsl(31, 77%, 52%);
	--clr-primary-light-cyan: hsl(184, 100%, 22%);
	--clr-primary-dark-cyan: hsl(179, 100%, 13%);

	--clr-neutral-grey: hsla(0, 0%, 100%, 0.75);
	--clr-neutral-white: hsl(0, 0%, 95%);
}

:root {
	--ff-primary: 'Lexend Deca', sans-serif;
	--ff-secondary: 'Big Shoulders Display', sans-serif;

	--fs-body: 0.9375rem;
	--fs-button: 0.9375rem;
	--fs-header: 2.5rem;

	--fw-regular: 400;
	--fw-bold: 700;
}
