:root {
  --clr-dark-blue: hsl(229, 23%, 23%);
  --clr-dark-cyan: hsl(185, 75%, 39%);
  --clr-dark-grey: hsl(227, 10%, 46%);
  --clr-light-grey: hsl(0, 0%, 59%);
  --clr-light-white: hsl(0, 0%, 100%);
}

:root {
  --ff-primary: "Kumbh Sans", sans-serif;

  --fs-200: 0.625rem;
  --fs-300: 0.875rem;
  --fs-400: 1.125rem;

  --fw-regular: 400;
  --fw-bold: 700;
}
